# Web3Forms Access Key for Contact Form
# 
# To enable the contact form:
# 1. Go to https://web3forms.com/
# 2. Create a free account and generate an Access Key
# 3. Set the email to receive submissions: ebabysfans@gmail.com
# 4. Copy the Access Key and paste it below
#
# Note: This key is meant to be public (client-side) and only allows
# sending form submissions to your verified email address.
#
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=your_access_key_here
